<html>
<head>
	<title>登入</title>
</head>
<body>
	<dd><font size="5" face="微軟正黑體">Login</font></dd>
<hr/>
	<input type="text" class="login-username" id="useraccount" autofocus="true" required="true" placeholder="Username" />
	<br><br>
	<input type="password" class="login-password" id="userpassword" required="true" placeholder="Password" />
	<br><br>
	<button type="button" name="Login" value="Login" class="login-submit" onClick="LoginBt();"	 >Login</a></button>
</body>
<script type="text/javascript">

    function LoginBt() {
		var useraccount = document.getElementById('useraccount').value; //讀取使用者的account
		var userpassword = document.getElementById('userpassword').value;//讀取使用者的password
		
		//localStorage.setItem('address', market.login.call(useraccount, userpassword));
		//localStorage.setItem('username', useraccount);
		//localStorage.setItem('userpassword', userpassword);
		if((useraccount=="gina" && userpassword== "ginagoodgood")||(useraccount=="123" && userpassword== "123"))
		{	localStorage.name=useraccount;
			location.href = "./mainpage.html";
		}
		else
		{
			alert("wrong account or password");
		}
		//成功登入，跳轉到首頁
		//window.open('./mainpage.html')
    }
</script>
</html>