<html>
<head>
	<title>首頁</title>
</head>
<body onload="checkUser()">
	<div class="common">
		<dd><font size="10" face="微軟正黑體">Market</font></dd>
<hr/><br/>
		<dt><font size="5" face="微軟正黑體">Buy</font></dt>
		<br>
		<form>
			<select name="Buy company">
				<option value="NONE">Choose company</option>
				<option value="CHT">中華電信</option>
				<option value="AP">遠東航空</option>
			</select>
		</form>
		<font face="微軟正黑體">Price : </font>
		<input type="text" class="buy_price" id="buy_price" autofocus="true" required="true" /><br>
		<font face="微軟正黑體">Amount : </font>
		<input type="text" class="buy_amount" id="buy_amount" autofocus="true" required="true" />
		<button type="button" name="buy_confirm" value="buy_confirm" class="buy_confirm" onClick="Buy_comfirmBt();">Confirm</button>
<br/><br/>
<hr/><br/>
		<dt><font size="5" face="微軟正黑體">Sell</font></dt>
		<br>
		<form>
			<select name="Sell company">
				<option value="NONE">Choose company</option>
				<option value="CHT">中華電信</option>
				<option value="AP">遠東航空</option>
			</select>
		</form>
		<font face="微軟正黑體">Price : </font>
		<input type="text" class="sell_price" id="sell_price" autofocus="true" required="true" /><br>
		<font face="微軟正黑體">Amount : </font>
		<input type="text" class="sell_amount" id="sell_amount" autofocus="true" required="true" />
		<button type="button" name="sell_confirm" value="sell_confirm" class="sell_confirm" onClick="Sell_comfirmBt();">Confirm</button>
		
	</div>
	<div class="superuser" id="superuser" style="display: none">
<br/><br/>
<hr/><br/>
		<dt><font size="5" face="微軟正黑體">Super user</font></dt>
		<br>
		<font face="微軟正黑體">Publish amount : </font>
		<input type="text" class="publish_amount" id="publish_amount" autofocus="true" required="true" />
		<br><br>
		<font face="微軟正黑體">Exchange rate : </font>
		<input type="text" class="exchange_rate" id="exchange_rate" autofocus="true" required="true" />
		<button type="button" name="publish_confirm" value="publish_confirm" class="publish_confirm" onClick="Publish_comfirmBt();">Confirm</button>
<br/><br/>
	</div>
</body>
<script language="javascript" >
	function checkUser(){
		if(localStorage['name']=='gina'){
			document.getElementById('superuser').style.display=''
		}
	}
</script>
</html>