<!DOCTYPE html>
<html>
<head>
	<title>註冊</title>
</head>
<body>
	<input type="text" id="useraccount" autofocus="true" required="true" placeholder="Account" />
	<br><br>
	<input type="password" id="userpassword" required="true" placeholder="Password" />
	<br><br>
	<input type="password" id="userpassword2" required="true" placeholder="Confirm your password" />
	<br><br>
	<button type="button" name="Register" value="Register" onClick="RegisterBt();"	 >Register</button>
</body>
<script type="text/javascript">
	var Web3 = require('web3');
    var web3 = new Web3(new Web3.providers.HttpProvider('http://140.113.72.23:8545'));

	function RegisterBt(){
		
		alert("before contract");
		var market = web3.eth.contract([
	{
		"constant": true,
		"inputs": [
			{
				"name": "account",
				"type": "string"
			}
		],
		"name": "checkUser",
		"outputs": [
			{
				"name": "fine",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "userno",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "tokenlist",
		"outputs": [
			{
				"name": "tokenname",
				"type": "string"
			},
			{
				"name": "totalsupply",
				"type": "uint256"
			},
			{
				"name": "buyprice",
				"type": "uint256"
			},
			{
				"name": "tokenaddress",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "account",
				"type": "string"
			},
			{
				"name": "password",
				"type": "string"
			},
			{
				"name": "_address",
				"type": "address"
			}
		],
		"name": "register",
		"outputs": [
			{
				"name": "success",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "account",
				"type": "string"
			},
			{
				"name": "password",
				"type": "string"
			}
		],
		"name": "login",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "tokenno",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"name": "userlist",
		"outputs": [
			{
				"name": "account",
				"type": "string"
			},
			{
				"name": "password",
				"type": "string"
			},
			{
				"name": "useraddress",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	}
],'0xf216eedea2648594b6771ca3dbd95498721d741e');
		
		alert("after contract");
		var account = document.getElementById('useraccount').value; //read account
		var password = document.getElementById('userpassword').value;//read password
		var password2 = document.getElementById('userpassword2').value;//read password again
		if(password!=password2)
			alert("兩次密碼輸入不同");
		else{
			if(market.register.call(account,password)==true){
				alert("註冊完成!");
				location.href = "./login.html";
			}
		}
	}
</script>
</html>