<html>
<head>
	<title>註冊</title>
</head>
<body>
	<input type="text" id="useraccount" autofocus="true" required="true" placeholder="Account" />
	<br><br>
	<input type="password" id="userpassword" required="true" placeholder="Password" />
	<br><br>
	<input type="password" id="userpassword2" required="true" placeholder="Confirm your password" />
	<br><br>
	<button type="button" name="Register" value="Register" onClick="RegisterBt();"	 >Register</button>
</body>

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script type="text/javascript">
	//Require library
	var Web3 = require('web3');
    var web3 = new Web3(new Web3.providers.HttpProvider('http://140.113.72.23:8545'));
	
	//Set default account
	web3.eth.defaultAccount = web3.eth.accounts[0];
	//web3.eth.defaultAccount = '0xdcdb2b60661679fec219558b95880b9b2dc86c05';
	//web3.personal.unlockAccount(web3.eth.defaultAccount, '123', 300);

	//ABI & address developed in remix
	var ABI = [
	{
		"constant": false,
		"inputs": [
			{
				"name": "val",
				"type": "uint256"
			}
		],
		"name": "setValue",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getValue",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "value",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
];
	var address = "0x9876e235a87f520c827317a8987c9e1fde804485";
	
	function RegisterBt(){
		var market = web3.eth.contract(ABI).at(address);
	
		var account = document.getElementById('useraccount').value;
		var password = document.getElementById('userpassword').value;
		var password2 = document.getElementById('userpassword2').value;
		
		if(password!=password2)
			alert("兩次密碼輸入不同");
		else{
			//var reg = market.ownerregister.call(account,password,"test",100,10,12,"0x0",100);
			document.getElementById('useraccount').value = reg;
			console.log("value="+reg);
			if(reg==true){
				alert("註冊完成!");
				location.href = "/login";
			}
			else{
				alert("註冊失敗");
				window.location.reload();
			}
		}

	}
</script>
</html>